.pr-source {
    border-style: solid;
    border-color: blue;
    width: 50%;
    height: 100%;
}

#templateContainer {
    width: 100%;
    height: 100%;
}

.pr-config {
    border-style: solid;
    border-color: gold;
    width: 50%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.body {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.header {
    align-self: center;
}

body, html {
    height: 100%;
    margin: auto;
}

.pr-param-wrapper {
    background-color: coral;
    margin: 0;
}

.pr-param-config, .pr-param-config-name, .pr-param-config-name-label {
    display: inline;
}