<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Template Generator</title>
    <script src="templateEditor.bundle.js" defer></script>
    <link rel="stylesheet" href="./index.css"/>
    <link rel="stylesheet" href="./parameter.css"/>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Template Generator</h1>
    </div>

    <div class="body">
        <div class="pr-source" data-templateUrl="nope" th:attr="data-templateUrl='/testHtml?id=' + ${id}">
        </div>
        <div class="pr-config">
            configuration
            <div class="Parameter-list"></div>
            <button id="save">submit</button>
        </div>

    </div>
</div>

</body>
</html>