<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Template Generator</title>
    <script src="templateEditor.bundle.js" defer></script>
    <link rel="stylesheet" href="./index.css"/>
    <link rel="stylesheet" href="./parameter.css"/>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Template Generator</h1>
    </div>

    <div class="body">
        <div class="pr-source" data-templateUrl="nope" data-id=1
             th:attr="data-templateUrl='/testHtml?id=' + ${id}, data-id=${id}">
        </div>
        <div class="pr-config">
            configuration
            <div class="Parameter-list"></div>
            <button id="save" onclick="onSubmit();">submit</button>
        </div>

    </div>
</div>

<script>

    const phishingTargetAlias = ["phishingTarget", "p", "ps", "pst", "pt", "phishing", "receiver", "to"];
    const spoofTargetAlias = ["spoofTarget", "s", "sp", "spt", "st", "spoof", "sender", "from"];


    function upload(modData) {
        fetch("http://localhost:8080/api/emailTemplate/mod?id=" + modData.id,
            {
                method: "POST",
                body: JSON.stringify(modData),
                headers:
                    {
                        'content-type': "application/json"
                    }
            }).then(response => console.log(response));
    }

    function onSubmit() {
        const sourceDocument = document.querySelector(".pr-source").firstElementChild.contentDocument;
        const sourceHtml = sourceDocument.body;
        const id = document.querySelector(".pr-source").getAttribute("data-id");

        const parameterList = document.querySelector(".Parameter-list");
        const parameters = processParameterList(sourceDocument, parameterList);

        upload(
            {
                id, sourceHtml, parameters
            }
        )
    }

    function processParameterList(sourceDocument, parameterList) {
        const parameters = [];

        for (parameter of parameterList.children) {
            let raw = parameter.getAttribute("pr-param-name");


            const param = normalizeParameter(raw);
            fixParameterNodes(sourceDocument, param, raw);
            parameters.push(param);
        }
        return parameters;
    }

    function normalizeParameter(rawName) {
        let sourceType, name;
        if (!rawName.includes(".")) {
            sourceType = "phishingTarget";
            name = rawName;
        }
        else {
            [sourceType, name] = rawName.split(".");
        }

        if (phishingTargetAlias.includes(sourceType)) sourceType = "phishingTarget";
        else if (spoofTargetAlias.includes(sourceType)) sourceType = "spoofTarget";
        else console.error("invalid source " + sourceType);

        return {source: sourceType, name: name};
    }

    function fixParameterNodes(doc, param, originalName) {
        const query = `.pr-param-node[pr-param-name='${originalName}']`;
        const nodeList = doc.querySelectorAll(query);

        for (let i = 0; i < nodeList.length; i++) {
            const node = nodeList[i];
            node.setAttribute("pr-param-name", param.source + "." + param.name);
        }

    }

</script>
</body>
</html>