<body>
<div>
    <div class="mktEditable" id="edit_text_1">
        <p class="p1">
                <span style="font-family: verdana, geneva; font-size: 14px; color: #000000;">Hey&nbsp;John,<br/><br/>If your websites or app supports user uploaded images (and other files) - our <a
                        href=
                                "http://email.cloudinary.com/P00090FLyR0wEo0F0RSB1d1" target="_blank" id=""
                >Upload Widget</a> may be exactly what you&rsquo;re looking for!</span>
        </p>
        <p class="p1"><span style="font-family: verdana, geneva; font-size: 14px; color: #000000;">By adding a single line of JavaScript code to your site, you will have a
            <a href="http://email.cloudinary.com/iTFL09R1wFy00F000Rd1B0o" target="_blank" id=""> complete UI</a> that allows users to<strong> interactively upload images and any other files</strong> to the cloud directly from their web browsers; including interactively selecting images from <strong>various 3rd party sources</strong> such as Facebook, Google Photos, Dropbox or even Google Image Search.<br/><br/></span>
        </p>
        <p class="p1"><span style="font-family: verdana, geneva; font-size: 14px; color: #000000;"><img
                src="https://res.cloudinary.com/demo/image/upload/w_300,e_sharpen/upload_widget_js.png" alt=""
                width="300" height="142" constrain="true" imagepreview="false" border=""/><img
                src="https://res.cloudinary.com/demo/image/upload/instagram_upload_widget.png" alt="" width="297"
                height="144" constrain="true" imagepreview="false" border=""/><br/><br/>Check it out and let us know what you think :)</span>
        </p>
        <br/>
        <br/>
        <br/><span style="font-family: verdana, geneva; font-size: 14px; color: #000000;">Thanks!</span>
        <br/><span style="font-family: verdana, geneva; font-size: 14px; color: #000000;">Roseann</span>
        <br/>
    </div>
</div>
<a href="http://email.cloudinary.com/VRRU000FF10B100LyodwG90"></a>
<img src="http://email.cloudinary.com/trk?t=1&mid=Mzk2LUxSQi01MjQ6MDo0MDIzOjEyODE5OjE6MjczMDo5OjEyODc5OjU3NzMxNjItMTpudWxs" width="1" height="1" style="display:none !important;" alt="" />
<p><font face="Verdana" size="1">This email was sent to phishingrod123@gmail.com. If you no longer wish to receive these
    emails you may <a href=
                              "http://email.cloudinary.com/u/a0100y01dL0R00VBHR9FowF"
    >unsubscribe</a> at any time. </font>
</p>
</body>